[core]
	editor = vim
	autocrlf = true
[user]
	name = Stephen FAURE
[push]
	default = simple
[rerere]
	enabled = true
[alias]
	unstage = restore --staged
	clean-remote = fetch --prune --prune-tags
	ci = commit --interactive
	pf = push --force-with-lease
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true
[rebase]
	autoStash = true
